* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f5fbef;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.h2_contacto {
    margin-bottom: 1em;
    text-align: left;

}

.form_aside {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.solo_form {
    flex-basis: 50%;
}

.solo_aside {
    flex-basis: 44%;
    text-align: center;
}

.solo_aside aside {
    border-radius: 0.5em;
    border: 0.125em solid #ccc;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.2em;
}

.solo_aside h2 {
    align-self: center;
}

.form_aside .solo_aside aside {
    border: 0.125em solid #ccc;
    padding: 1.25em;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin: 0;
}

input,
textarea {
    padding: 1em;
    border-radius: 0.5em;
    width: 100%;
    box-sizing: border-box;
    height: 2.3em;
}

textarea {
    height: 10em;
}

.boton_enviar {
    background-color: #84c318;
    color: #FFFFFF;
    width: 6em;
    height: 3em;
    align-self: flex-end;
    border-radius: 10%;
}

#my-popover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10em;
    /* ancho relativo al font-size */
    height: 7em;
    /* alto relativo al font-size */
    font-size: 2em;

   
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #004346;
    color: white;
    padding: 1em 2em;
    /* padding proporcional */
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border: none;
}


.h2_ubicacion,
.h2_aside {
    margin: 1em;
    text-align: center;
}



iframe {
    width: 55em;
    height: 16em;
    display: block;
    margin: 0 auto;
    border: 0;
}

.section_ubicacion {
    margin-bottom: 2em;
}

.iconos_redes {
    font-size: 2em;
    color: #333;
    display: flex;
    gap: 15px;
    align-self: center;
}

