body {
    font-family: 'lato', sans-serif;
    background-color: #f5fbef;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 28em;
    width: 90%;
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    gap: 1.25em;
}

input {
    width: 100%;
    height: 2.5em;
    border: 1px solid #ced4da;
    border-radius: 1.25em;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em;
    margin-top: 0.4em;
}

select {
    width: 8em;
    height: 3.3em;
    margin-top: 0.4em;
    padding: 0.4em 0.75em;
    border: 1px solid #ced4da;
    border-radius: 1.25em;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em;
    margin-top: 0.4em;

}


.dates_h4 {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 1em;
    color: #495057;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.pay {
    background-color: #84c318;
    color: white;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 1em;
    width: 8em;
    height: 2.4em;
}

.cancel {
    background-color: red;
    color: white;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 1em;
    width: 8em;
    height: 2.4em;
}

@media screen and (max-width: 1100px) {

    h2 {
        text-align: center;
    }
    .buttons {
        align-self: center;
        flex-direction: column;
        gap: 1em;
    }
}

@media screen and (max-width: 500px) {

    .dates {
        flex-direction: column;
    }

    label {
        text-align: center;

    }

    h2,
    .dates_h4 {
        text-align: center;
    }

    ::placeholder {

        text-align: center;
    }

    select {
        width: 100%;
    }

}