body {
    font-family: 'lato', sans-serif;
    background-color: #f5fbef;
}

.principal_container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4em;
    padding: 2.5em;
}

.form_dates {
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    padding: 3em;
    border-radius: 1.5em;
}


.principal_container article {
    position: relative;
}

.photo {
    width: 70vh;
    height: 55vh;
}

.price {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 0.3em;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    margin-top: 0;
    margin-bottom: 1em;
}



.input_name {
    width: 100%;
    height: 3.3em;
    padding: 0.4em 0.75em;
    margin-top: 0.4em;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    box-sizing: border-box;
    font-size: 1em;
}

select {
    width: 100%;
    max-height: 3.4em;
    margin-top: 0.4em;
    padding: 0.4em 0.75em;
    border: 1px solid #ced4da;
    border-radius: 1.25em;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em;
    margin-top: 0.4em;
}


.button_confirm {
    display: flex;
    justify-content: center; /* Esto centra el botón horizontalmente */
    margin-top: 1em; /* Un poco de espacio arriba para separarlo del último select */
}

.confirm {
    margin-top: 2em;
    background-color: #84c318;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 1em;
    width: 8em;
    height: 2.4em;
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1050px) {
    .contenedor_principal {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }
}

@media screen and (max-width: 895px) {

    .contenedor_principal {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .foto {
        max-width: 100%;
        width: 19em;
        height: auto;
    }

    label {
        text-align: center;
    }

    ::placeholder {
        text-align: center;
    }

    .confirm {
        justify-content: center;
    }
}

@media screen and (max-width: 410px) {

    .contenedor_principal {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .foto {
        max-width: 90%;
        width: 18em;
        height: auto;
        justify-content: center;
    }

    .input_nombre {
        width: 90%;
    }

    select {
        width: 100%;
    }

}