.title_section {
  display: flex;
  justify-content: space-between;
  background-image: url(../Assets/heroImage.jpg);
  background-size: cover;
  background-position: top;
  padding: 0;
  height: 50dvh;
}

.principal_title {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  color: #172A3A;
  h1{
    text-align: start;
    font-size: 3em;
  }
}

.title_section h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.title_section button {
  font-size: 1.5em;
  margin-top: 1em;
}

.steps_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5em;
}

.title{
      font-size: 1.5em;
      text-align: center;
      color: #172A3A;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      padding-bottom: 1em;
      padding-top: 1em;
  }


.steps{
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    width: 15%;
    padding: 3em 1em;
    background-color: #172A3A;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-top: 4px solid #4caf50;
    transition: transform 0.3s ease;
    background: linear-gradient(to bottom, #0b2239, #123b5c);

    h4{
      text-align: center;
      font-size: 1.5em;
      color: #F5FBEF;
    }

    p{
      margin-top: 1em;
      text-align: center;
      font-size: 1em;
    }
  }
}
.steps div:hover {
  transform: scale(1.05);
}

h1 {
  text-align: center;
  color: #172A3A;
}

.courses_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.courses_title{
    color: #172A3A;
    font-size: 1.5em;
    text-align: center;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div{
    margin-top: 2em;
    width: 15%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.imagenes_cursos {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  padding: 1rem;
  background: white;
}
.carrusel-logos {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 3em;
}

.carrusel-title{
  color:#172A3A ;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}
.logos {
  display: flex;
  justify-content: center;
  gap: 80px;
  animation: mover 15s linear infinite;
}

.logos img {
  height: 6em;
  width: 12em;
  filter: brightness(0.8);
  transition: filter 0.3s;
}


@keyframes mover {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1400px) {
  main {
    .steps_section .steps{
      div{
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    .steps_section .steps{
      div{
        width: 25%;
      }
    }

    .courses_section .details{
      div{
        width: 15%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    h2{
      font-size: 1.25em;
    }
    .steps_section .title{
      width: 75%;
      margin: 2em auto 0;
    }
    .steps_section .steps{
      flex-direction: column;
      div{
        width: 65%;
        margin: 1em auto;
      }
    }

    .courses_section .details{
      flex-direction: column;
      div{
        width: 75%;
        margin: 1em auto;
      }
    }

    .courses_section .courses_title{
      width: 75%;
      margin: 0 auto 1em;
    }

    .carrusel-logos {
      margin-bottom: 0;
      padding: 0;
      .carrusel-title{
        width: 75%;
        margin: 1em auto;
      }

      .logos {
        gap: 40px;
        margin-bottom: 2em;
        img{
          align-self: center;
          width: 20%;
          height: 100%;
        }
      }
    }

    .principal_title h3 {
      width: 75%;
    }
  }
}


@media screen and (max-width: 415px) {


  .section_home {

    text-align: center;
    font-size: 0.85em;
  }
}