body {
    height: 100dvh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75%;
}

.div-h1{
    text-align: center;
    color: #172A3A;
    margin-bottom: 2em;
}

.section-form{
    margin: 0 auto 2em;
    width: 35%;

    input {
            font-family: 'Lato', sans-serif;
            font-size: 1em;
            padding-left: 1em;
            width: 100%;
            height: 40px;
            border-radius: 20px;
            border: 2px grey solid;
            margin-top: 1em;
            color: #172A3A
        }

    p{
        text-align: center;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }

    button{
        background-color:#84c318;
        border-radius: 40px;
        width: 100%;
        color: white;
        font-family: 'Lato';
        font-size: 1.5em;
        border: none;
        height: 50px;
    }

    button:hover {
        background-color: #172A3A;
        color: #F5FBEF;
        cursor: pointer;
    }
}

.back-button{
    margin-left: 5em;
    margin-top: 2em;
    a{
        background-color: #004346;
        border: 2px solid #004346;
        border-radius: 40px;
        font-size: 1em;
        color: #F5FBEF;
        width: fit-content; 
        padding: 0.7em 2em ;
        text-decoration: none;
    }

    a:hover {
        border: 2px solid #172A3A;
        background-color: #F5FBEF;
        color: #172A3A;
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    .section-form {
        width: 40%;
    }
    
}


@media screen and (max-width: 1000px) {
    .section-form {
        width: 50%;
    }

    body {
        height: auto;

        footer {
            height: auto;
        }
        header {
            height: auto;
        }
        main {
            padding: 2em 0;

            .back-button{
                margin-top: 0;
                margin-bottom: 0.5em;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .section-form {
        width: 75%;
    }
    
    .back-button{
        a .only-desktop {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {

    body {
        main {
            padding: 0.5em;
        }
    }

    body main .back-button{
        margin: 1.5em 2em;
        a .only-desktop {
            display: none;
        }
    }
    
    .section-form {
        width: 85%;
        button{
            margin-bottom: 2em;
        }
    }
}