* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.mobile-cart {
  display: none;
}

body {
  background-color: #F5FBEF;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #172a3a;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.header_div {
  display: flex;
}

.imagen_logo {
  height: 4em;
  width: 4em;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  list-style-type: none;
}

.header_nav_ul_li_a {
  text-decoration: none;
  color: white;
  padding: 2em 0;
  font-size: 1.25em;
}

.header_nav_ul_li_a:hover {
  cursor: pointer;
  color: #84c318;
}

.form_busqueda{

  margin-right: 2em;

}

.input_busqueda{
  width: 100%;
  padding: 0.5em;
  border-radius: 1.5em;
  
}

.div_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  position: relative;
}

.button {
  background-color: #84c318;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.80em;
  margin-right: 3em;
}

 header .fa-solid.fa-cart-shopping{

  font-size: 1.5em;
  color: #84c318;

}

footer {
  background-color: #004346;
  color: white;
  text-align: center;
  padding: 20px;
}

.about_us {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-around;

  article {
    border-radius: 8px;
    padding: 10px;
  }
}

.ancla {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width: 1000px) {

  .ancla_carrito{

    margin: 3em;

  }

  header.header {
    flex-direction: column;
    padding: 0;

    .header_div .imagen_logo {
      height: 6em;
      width: 6em;
      margin-bottom: 1em;
    }

    .div_button button {
      margin: 1em 0 0.5em;
    }

    .ancla_carrito,
    .span_carrito {
      display: none;
    }
  }

  .header_nav {
    width: 100%;
    margin: auto;
    display: flex;
  }

  .header_nav_ul {
    width: 90%;

    li {
      width: 25%;
      text-align: center;
    }
  }

  footer {
    section {
      width: 100%;
    }

    a.ancla {
      width: 20%;
      font-size: 2em;
      margin: 0 0.5em;
    }

    .about_us {
      flex-direction: column;
    }
  }

  .fa-cart-background {
    width: 4.75em;
    height: 4.75em;
    background-color: #84c318;
    position: fixed;
    bottom: 1em;
    right: 1em;
    border-radius: 100%;

    a i {
      font-size: 2em;
      color: white;
      position: fixed;
      bottom: 1.1em;
      right: 1.2em;
    }
  }

  .mobile-cart {
    display: block;
  }
}


@media screen and (max-width: 500px){

  header .div_button {
    width: 90%;
    justify-content: space-between;
    margin: 0.5em auto;
      form{
        width: 60%;

      .input_busqueda{
        height: 2.5em;
      }

      }


    #ancla_cerrarsesion{
      width: 30%;
      
      .button{
        width: 100%;
        margin:0;
        height: 2.5em;

      }

    }

  }

  


  .header_nav_ul{
    display: flex;
    flex-direction: column;

    li, li a {
      width: 100%;
      display: block;
      padding: 0;
    }
  }




  .header_nav_ul li{

    margin: auto;


  }

 

}



